// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

//aliyun icons
@font-face {
  font-family: 'larabbs_icon';  /* project id 802163 */
  src: url('//at.alicdn.com/t/font_802163_mnhts78cmna.eot');
  src: url('//at.alicdn.com/t/font_802163_mnhts78cmna.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_802163_mnhts78cmna.woff') format('woff'),
  url('//at.alicdn.com/t/font_802163_mnhts78cmna.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_802163_mnhts78cmna.svg#larabbs_icon') format('svg');
}

.iconfont {
  font-family: "larabbs_icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* universal */

body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

//所有card添加阴影
.card {
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(26, 26, 26, .1);
  -webkit-box-shadow: 0 5px 20px rgba(26, 26, 26, .1);
  -o-box-shadow: 0 5px 20px rgba(26, 26, 26, .1);
}

/* header */

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #2ecc71;
  margin-bottom: 40px;
  margin-top: 0px;
}

.navbar-user {
  //去除dropDown的小箭头
  .dropdown-toggle::after {
    display: none;
  }
  img.avatar-thumbnail {
    border-radius: 2px;
  }
  //调整dropDown样式
  .dropdown-menu {
    right: -30px;
    min-width: auto;
    border: 1px solid #ebebeb;

    //dropdown-menu's arrow
    &:before {
      position: absolute;
      top: 0px;
      left: 44px;
      content: '';
      width: 0;
      height: 0;
      margin-top: -9px;
      border-width: 0px 9px 9px 9px;
      border-style: solid;
      border-color: transparent transparent #ebebeb transparent;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 45px;
      content: '';
      width: 0;
      height: 0;
      margin-top: -8px;
      border-style: solid;
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent #fff transparent;
    }
  }
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  //height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

//user-info Pages styles
.users-show-page, .users-edit-page {
  .user-info {
    .user-header {
      height: 240px;
      overflow: hidden;
      border-top-right-radius: 1px;
      border-top-left-radius: 1px;
      img.user-header-img {

      }
    }

    .user-body {
      position: relative;
      padding-top: 16px;
      .user-avatar {
        position: absolute;
        top: -25px;
        background: #fff;
        width: 170px;
        height: 170px;
        overflow: hidden;
        padding: 5px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        .user-avatar-img {
          width: 100%;
          height: 100%;
        }
      }

      .user-details {
        border-left: 150px solid transparent;
        padding-left: 50px;
        .user-details-body {
          p {
            margin-bottom: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .user-details-item {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

//user-page edit styles
.users-edit-page {
  .user-info {
  }

  .user-body {
    .user-avatar {
      &:hover .float-layer {
        opacity: 1;
        -webkit-transition: opacity .2s ease-in;
        -moz-transition: opacity .2s ease-in;
        -ms-transition: opacity .2s ease-in;
        -o-transition: opacity .2s ease-in;
        transition: opacity .2s ease-in;
      }

      .float-layer {
        cursor: pointer;
        opacity: 0;
        -webkit-transition: opacity .2s ease-in;
        -moz-transition: opacity .2s ease-in;
        -ms-transition: opacity .2s ease-in;
        -o-transition: opacity .2s ease-in;
        transition: opacity .2s ease-in;

        .avatar-edit-bg {
          position: absolute;
          background-color: #000;
          width: 100%;
          height: 100%;
          opacity: 0.3;
          top: 0;
          left: 0;
          border: 5px solid #fff;
          z-index: 100;
        }

        .avatar-edit-title {
          position: absolute;
          display: flex;
          color: #fff;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 101;
          text-align: center;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .user-details {
      //padding-bottom: 100px;
      .user-edit-body {
        .user-edit-item {
          padding: 30px 0;
          font-size: 15px;
          border-bottom: 1px solid #ebebeb;
          .item-title {
            font-weight: 600;
            position: absolute;
          }
          .item-entry {
            padding-left: 150px;
            .custom-control-label:before {
              background-color: #3498db;
            }
            input.l-input {
              width: 80%;
            }
            .form-check-inline {
              margin-right: 2rem;
            }
          }
        }
      }
    }
  }
}